/* Utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    width: 80%;
    max-width: 1152px;
    margin: auto;
    padding: 1rem 0rem;
    
}
.d-flex{
    display: flex;
}
a , i{
    color: white;
    text-decoration: none;
    
}
.just-c{
    flex-direction: row;
    justify-content: space-between;
}
/* /Utilities */

.app-header{
    background-color: #ff6900;
    box-shadow: 0 4px 2px -2px gray;
    position: sticky;
    top: 0;
    right: 0;
}
.logo{
    height: 1.5rem;
}
