/* Utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    
}
.container {
    width: 80%;
    max-width: 1152px;
    margin: auto;
    padding: 1rem 0rem;
    
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
a , i{
    color: white;
    text-decoration: none;
    
}

.just-c{
    flex-direction: row;
    justify-content: space-between;
}

.red{
    color: red;
}

/* /Utilities */

.app-header{
    background-color: #ff6900;
    box-shadow: 0 4px 2px -2px gray;
    position: sticky;
    z-index: 5;
    top: 0;
    right: 0;
}
.logo{
    height: 1.5rem;
}
.card{
    width: calc(90% / 12 * 4);
    position: relative;
    top: 0;
    right: 0;
    margin: 1rem;
}
.show{
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}
.hide{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display:none;
    z-index: 2;
}
.card:hover .hide{
    display: block;
    cursor: pointer;
}
.heart{
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    z-index: 3;
}
.heart:hover{
    color: red;
}
.bg-red{
    position: absolute;
    bottom: 6rem;
    left: 0;
    background-color: #ff0000;
    color: white;
    padding: 0.2rem 0.5rem;
    z-index: 3;
}
.bg-green{
    position: absolute;
    bottom: 6rem;
    left: 3.5rem;
    background-color: #008000;
    color: white;
    padding: 0.2rem 0.5rem;
    z-index: 3;
}
.app-footer{
    background-color: #1a1a1a;
    color: white;
}
ul{
    list-style-type: none;
    
}
li{
    padding-top: 0.5rem;
    padding-right: 1rem;
}